html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

rect{
    shape-rendering: crispEdges;
}

circle, path {
    shape-rendering: geometricPrecision;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.container div{
    align-items: stretch;
    margin: 5px 0px;
}
#conditions{
    width: 98.3%;
    height: 180px;
    resize: none;
}

#errors span{
    color:red;
    font-weight: 600;
}
#errors {
    margin: 5px 0px;
    line-height: 22px;
}
.condition-error {
    color: red;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 3px;
    margin-bottom: 6px;
}

