.mt-2px {
    margin-top: 2px;
}

.mt-1 {
    margin-top: 1rem;
}
.mt-1_5 {
    margin-top: 1.5rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.ml-5px {
    margin-left: 5px;
}



.hidden {
    display: none;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}



.custombutton:focus{
    outline: none;
}
.custombutton{
    margin-top: 0px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-top: 2px solid #eaeaea;
    border-left:2px solid #eaeaea;
    border-bottom: 2px solid #BBB;
    border-right: 2px solid #BBB;
}
.custombutton:active{
    border-left:2px solid #BBB;
    border-top: 2px solid #BBB;
    border-right:2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    transition: all;
}