:root {
    --main-bg-color: #a6a6a6;
    --main-blue-color: dodgerblue;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

/* Elements ===================== */
.elements {
    flex-grow: 1;
    padding: 20px 10px 0px 10px;
    background-color: #f0f0f0;
    max-width: 200px;
}

#paperAvailableElements {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#paperAvailableElements li {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #FFF;
}

/* Dialog properties ===================== */
.dialog {
    padding: 0px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dialog #dialog {
    border: 1px solid #7f7f7f;
    background-color: var(--main-bg-color);
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog #dialogProperties {
    padding: 0px 0px 5px 0px;
    background-color: #f0f0f0;
    display: flex;
    flex: 1;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

#dialogProperties .dialog-property {
    margin: 3px 0px;
    align-items: stretch;
    text-align: left;
}

/* Dialog element properties ===================== */
#properties {
    padding: 0px 10px 50px 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 250px;
    width: 200px;
}

#propertiesList {
    padding: 0 5px;
}

#propertiesList h2 {
    font-size: 0.9rem;
    border-bottom: 2px solid #FFF;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    color: #323232;
}

#propertiesList .element-property {
    display: grid;
    grid-template-columns: calc(40% - 5px) calc(60% - 5px);
    gap: 10px;
    margin-bottom: 0.5rem;
    align-items: center;
}

#propertiesList .element-property label {
    color: #323232;
    font-size: 0.8rem;
}

#propertiesList .element-property input,
#propertiesList .element-property select {
    border-radius: 0px;
    border: 1px solid #e6e5e5;
    padding: 3px 3px;
    color: #323232;
    font-size: 0.8rem;
}

#propertiesList .element-property input:focus-visible,
#propertiesList .element-property select:focus-visible {
    outline: var(--main-blue-color) auto 1px;
    outline-style: solid;
}

#propertiesList .element-property input {
    padding: 3px 5px;
}

#properties .hidden-element {
    display: none;
}

/* =====================*/
.selectedElement {
    outline: 1px dotted var(--main-blue-color);
    outline-offset: 3px;
}


/* ========= Dialog's properties ========= */
#dialog-properties_title {
    color: #323232;
    font-size: 1rem;
    text-align: left;
    margin: 1rem 0 0.5rem 0;
}

#dialog-properties {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(213, 213, 213);
    padding-top: 0.5rem;
}

#dialog-properties .dialog-properties_property {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0.3rem 0;
    gap: 1rem;
}

#dialog-properties .dialog-properties_property label {
    color: #323232;
    font-size: 0.8rem;
}

#dialog-properties .dialog-properties_property input {
    border-radius: 0px;
    border: 1px solid #e6e5e5;
    padding: 3px 3px;
    color: #323232;
    font-size: 0.8rem;
}

#dialog-properties .dialog-properties_property input:focus-visible,
#dialog-properties .dialog-properties_property select:focus-visible {
    outline: var(--main-blue-color) auto 1px;
    outline-style: solid;
}

#dialog-properties .dialog-properties_property input {
    padding: 3px 5px;
}


/* Custom elements (ex. checkbox, radio buttons etc.) */

/* Custom element container div */
.element-div {
    position: absolute; /* Allows it to be draggable */
    cursor: grab; /* Indicate draggable element */
}

.element-div.dragging {
    cursor: grabbing; /* Cursor during drag */
}

.disabled-div {
    /* background-color: #808080; */
    opacity: 0.5; /* Make it look visually disabled */
    filter: grayscale(100%);
}

.design-hidden {
    opacity: 0.1;
    pointer-events: auto; /* still clickable */
}


/* Element: checkbox */
.custom-checkbox {
    display: inline-block;
    width: 100%; /* Matches the container div size */
    height: 100%;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 0.1em;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.2s, border-color 0.2s;
}

/* Style the checked state for custom checkbox */
.custom-checkbox[aria-checked="true"] {
    background-color: var(--checkbox-color, #4CAF50);
    border-color: var(--checkbox-color, #4CAF50);
}

/* Checkmark (proportional using em units) */
.custom-checkbox::after {
    content: '';
    position: absolute;
    display: none;
    left: 28%;
    /* Increased width to extend more towards upper-right corner */
    width: 28%;
    /* Increased height */
    height: 70%;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(35deg);
}

/* Show checkmark when checked */
.custom-checkbox[aria-checked="true"]::after {
    display: block;
}


/* Element: radio button */
.custom-radio {
    --radio-color: #4CAF50; /* Default color */
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* Inner dot for custom radio button (selected state) */
.custom-radio::after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    /* Color of the selected dot */
    background-color: var(--radio-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Checked state
.custom-radio[aria-checked="true"] {
    border-color: var(--radio-color);
}
*/
.custom-radio[aria-checked="true"]::after {
    display: block;
}

/* Cover over checkbox (and general elements) to prevent
   their click event when dragging in the editor */
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}


/* Other elements */

.separator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}

input[type="text"] {
    box-sizing: border-box;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    box-sizing: border-box;

    background-image: url(./arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 3px center;
    background-size: 10px;
}

.input-as-text {
    border: none !important;
    outline: none !important;
    background: transparent !important;
    box-shadow: none !important;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    width: auto;
    pointer-events: none;
    appearance: none;
}


/* Common handle styles */
.slider-handle {
    position: absolute;
    cursor: pointer;
}

/* --- Triangle Shape --- */

/* Horizontal triangle (points up, under the track) */
.slider-handle[data-shape="triangle"][data-direction="horizontal"] {
    transform: translateX(-50%);
}

/* Vertical triangle (points left, to the left of the track) */
.slider-handle[data-shape="triangle"][data-direction="vertical"] {
    transform: translateY(-50%);
}

/* --- Circle Shape --- */

/* Horizontal circle: centered on track */
.slider-handle[data-shape="circle"] {
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* --- Counter element --- */
.counter-wrapper {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    user-select: none;
}

.counter-arrow {
    cursor: pointer;
    font-size: 18px;
    width: 20px;
    text-align: center;
    color: #4CAF50;
}

.counter-arrow.up {
    transform: rotate(-90deg);
}

.counter-arrow.down {
    transform: rotate(90deg);
}

.counter-value {
    text-align: center;
    font-size: 14px;
    padding: 0px 4px;
}



.smart-button {
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #efefef;
    color: #000;
    max-width: 200px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 1.2;
}

.smart-button-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    line-height: 1.2;
}
